prometheus-grafana/grafana/*
!prometheus-grafana/grafana/provisioning

prometheus-grafana/prometheus/*
!prometheus-grafana/prometheus/prometheus.yml
!prometheus-grafana/prometheus/rules.yml

thanos-prometheus-grafana-alertmanager/grafana/*
!thanos-prometheus-grafana-alertmanager/grafana/provisioning

thanos-prometheus-grafana-alertmanager/prometheus/data

thanos-prometheus-grafana-all-in-one/grafana/*
!thanos-prometheus-grafana-all-in-one/grafana/provisioning

thanos-prometheus-grafana-all-in-one/prometheus/*
!thanos-prometheus-grafana-all-in-one/prometheus/prometheus.yml
!thanos-prometheus-grafana-all-in-one/prometheus/rules.yml

